<template name="register">
	<div class="login-container">
			<div class="addressbook-logo circle">
				<span class="icon-username"></span>
			</div>	
			<h4>Create an Account</h4>
			<p>Enter your information below</p>
			<form>
				<div class="input-group">
					<span class="icon-username"></span>
					<input type="email" name="registerEmail" placeholder="email" class="icon-username" />
				</div>
				<div class="input-group">
					<span class="icon-password"></span>
					<input type="password" name="registerPassword" placeholder="password" class="icon-password" />
				</div>
				<input type="submit" value="Register" />
			</form>
			<div class="account-help">
				<a href="/login" class="account create">Sign In</a>
				<a href="/forgot-password" class="account forgot-password">Forgot Password?</a>
			</div>
		</div>	
</template>