<template name="addNew">
	<h1>Add New Contact</h1>
	<form>
		<div class="input-group">
			<input type="text" name="firstName" id="firstName" placeholder="First Name" aria-label="First Name" />
		</div>
		<div class="input-group">
			<input type="text" name="lastName" id="lastName" placeholder="Last Name" aria-label="Last Name"/>
		</div>
		<div class="input-group">
			<input type="email" name="email" id="email" placeholder="Email" aria-label="Email" />
		</div>
		<div class="input-group">
			<input type="tel" name="phone" id="phone" placeholder="Phone" aria-label="Phone" />
		</div>
		<div class="input-group">
			<textarea name="address" id="address" placeholder="Address" aria-label="Address"></textarea>
		</div>
		<div class="input-group">
			<textarea name="notes" id="notes" placeholder="Notes" aria-label="Notes"></textarea>
		</div>
		<input type="submit" value="Add New Contact" />
	</form>

</template>

