/*@import '../../css/less/imports';

.bg-gray {
	background-color: @gray-darker;
}
nav {
	padding: 0;
	width: 100%;
	margin: 0 0 20px;
	background: inherit;

	a, a:link, a:visited {
		display: block;
		padding: 20px;
		text-decoration: none;
		color: @white;
		background-color: @gray-darker;
		border-right: 1px solid @gray-dark;

		&:last-child {
			border-right: none;
		}
	}
	a:hover, a:focus {
		background-color: @gray-darker * 0.8;
	}
	a:active {
		background-color: @gray-darker * 0.6;
	}
}*/