<template name="nav">
	
	<nav>
		<div class="container">
			<div class="nav-wrapper">
				<a href="/" class="brand-logo">Addressbook</a>
				<a href="#" class="button-collapse" data-activates="mobile-menu"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="/">Recent Activity</a></li>
					<li><a href="/contacts">All Contacts</a></li>
					<li><a href="/add-new">Create New Contact</a></li>
					{{#unless currentUser}}
					<li><a href="/login">Login</a></li>
					{{else}}
					<li><a href="#" class="sign-out">Sign Out</a></li>
					{{/unless}}
				</ul>
				<ul class="side-nav" id="mobile-menu">
					<li><a href="/">Recent Activity</a></li>
					<li><a href="/contacts">All Contacts</a></li>
					<li><a href="/add-new">Create New Contact</a></li>
					{{#unless currentUser}}
					<li><a href="/login">Login</a></li>
					{{else}}
					<li><a href="#" class="sign-out">Sign Out</a></li>
					{{/unless}}
				</ul>
			</div>
		</div>
	</nav>
</template>