<template name="editContact">
	<h1>Edit Contact</h1>
	<form>
		<div class="row">
			<div class="col s12 m4">
				<i class="material-icons large">perm_identity</i>
				<div class="edit-delete-contact">
					<button class="btn-small waves-effect waves-light" type="button" name="done"><i class="left material-icons">done</i>
					</button>
					<button class="btn-flat waves-effect waves-light" type="button" name="delete"><i class="left material-icons">delete</i>
					</button>
				</div>	
			</div>
			<div class="col s8">
				<div class="row">
					<div class="input-field col s12">
						<input type="text" name="firstName" id="firstName" class="validate" />
						<label for="firstName">First Name:</label>
					</div>
					<div class="input-field col s12">
						<input type="text" name="lastName" id="lastName" class="validate" />
						<label for="lastName">Last Name:</label>
					</div>
					<div class="input-field col s12">
						<input type="email" name="email" id="email" class="validate" />
						<label for="email">Email:</label>
					</div>
					<div class="input-field col s12">
						<input type="tel" name="phone" id="phone" class="validate" />
						<label for="phone">Phone:</label>
					</div>
					<div class="input-field col s12">
						<textarea name="address" id="address" class="materialize-textarea"></textarea>
						<label for="address">Address:</label>
					</div>
					<div class="input-field col s12">
						<textarea name="notes" id="notes" class="materialize-textarea"></textarea>
						<label for="notes">Notes:</label>
					</div>
				</div>	
				<button class="waves-effect waves-light btn-large"><i class="material-icons left">done</i>Add</button>
			</div>
		</div>
	</form>

</template>