<template name="contacts">
	<h1>All Contacts</h1>
	<section>
		{{#if contacts.count}}
			{{ #each contacts }}
				{{> contactShort }}
			{{ /each }}		
		{{else}}	
		<p>You're lame. You haz no friends!</p>
		{{/if}}
	</section>
</template>	

<template name="contactShort">
	<a href="/contact/{{_id}}" class="row contact-card">
		<div class="profile-image">
			<span class="icon-contact profile"></span>
		</div>
		<div class="profile-information">
			<h3>{{firstName}} {{lastName}}</h3>
			<div class="quick-details">
				<input type="email" readonly value="{{email}}">
				<input type="tel" readonly value="{{phone}}">
			</div>
		</div>
	</a>
</template>

<template name="contact">

	<div class="edit-delete-contact">
		{{#if isEditing}}
			<button class="icon-check done" type="button" name="done">Done</button>
		{{else}}
			<button class="icon-edit edit" type="button" name="edit">Edit</button>
		{{/if}}
			<button class="icon-delete delete" type="button" name="delete">Delete</button>
	</div>	
	{{#if isEditing}}
		<form>
			<div class="input-group">
				<input type="text" name="firstName" id="firstName" placeholder="First Name" aria-label="First Name" value="{{firstName}}" />
			</div>
			<div class="input-group">
				<input type="text" name="lastName" id="lastName" placeholder="Last Name" aria-label="Last Name" value="{{lastName}}" />
			</div>
			<div class="input-group">
				<input type="email" name="email" id="email" placeholder="Email" aria-label="Email" value="{{email}}" />
			</div>
			<div class="input-group">
				<input type="tel" name="phone" id="phone" placeholder="Phone" aria-label="Phone" value="{{phone}}" />
			</div>
			<div class="input-group">
				<textarea name="address" id="address" placeholder="Address" aria-label="Address">{{address}}</textarea>
			</div>
			<div class="input-group">
				<textarea name="notes" id="notes" placeholder="Notes" aria-label="Notes">{{notes}}</textarea>
			</div>
		</form>	
	{{else}}
		<div class="contact-card">
			<input type="text" readonly value="{{firstName}} {{lastName}}" />
			<input type="email" readonly value="{{email}}" />
			<input type="phone" readonly value="{{phone}}" />
			<input type="text" readonly value="{{address}}" />
			<input type="text" readonly value="{{notes}}" />
		</div>
	{{/if}}
</template>





